:root {
  --primary-color: #009cff;
  --secondary-color: #a66bbe;
  --white-color: white;
  --font-color: #e29578;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  font-size: 4rem;
}

svg:hover {
  color: var(--font-color);
  transition: all ease-in-out 0.5s;
}
a {
  color: #222;
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: #222;
}

body {
  font-family: roboto;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: large;
  background: var(--white-color);
}

/* utility classes */
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.xl {
  font-size: 2.5rem;
  color: var(--font-color);
}

.sxl {
  font-size: 2rem;
}
.ssxl {
  font-size: 2rem;
}

.xxl {
  font-size: 3.5rem;
  color: var(--font-color);
}

.btn {
  background: linear-gradient(to right, #bb7b64, #faae94);
  color: var(--light-color);
  padding: 1rem 1.5rem;
  border-radius: 3px;
}

.btn:hover {
  box-shadow: 3px 3px 20px 3px #7f574a;
  transition: all ease-in-out 0.5s;
}

/* nav bar */
#main-nav {
  height: 5rem;
  background: inherit;
  top: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  /* box-shadow: ; */
}

#main-nav .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  padding-top: -3rem;
}

#main-nav .logo {
  margin-top: -1.2rem;
  width: 120px;
  height: 120px;
  float: left;
}

#main-nav ul {
  margin-top: -1.5rem;
  justify-self: end;
  display: flex;  
}

#main-nav ul li a {
  padding: 1rem;
  font-weight: bold;
}

ul a:hover {
  color: var(--font-color);
  transition: all ease-in-out 0.5s;
}

/* showcase section */
#showcase {
  background: var(--white-color);
}



.showcase-text {
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 136px;
  }
  .show-text{
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-left: 240px;
}

.about-img img {
  margin-top: 10rem;
  margin-bottom: 2rem;
  width: 325px;
  border-radius: 50%;
}

#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  width: 40rem;
}


/* work section */
#work {
  display: none;
  margin-top: 8rem;
  text-align: center;
}

.cards {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  width: 60rem;
}

.icon:hover {
  color: var(--primary-color);
  transition: all ease-in-out 0.5s;
}

/* gallary section */
#gallary {
  background: var(--white-color);
  margin-top: 1rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

#gallary img {
  margin-top: 5rem;
  border-radius: 4px;
}

/*.g-card{
  width:1200px;
  overflow-x: scroll;

}*/

.g-card-one {
  width:1200px;
}
.g-card-two {
  width: 600px;
  
}
.g-card-three {
  width: 800px;
}
.g-card-four {
  width: 1100px;
}
.g-card-five {
  width: 800px;
}

/* .gallary-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: -1rem;
  margin-left: -7rem;
  padding-bottom: 2rem;
} */

/* contact section  */
#contact {
  text-align: center;
  margin-top: 4rem;
  background: var(--light-color);
}

#contact .contact-info {
  display: flex;
  justify-content: center;
  position: static;
  align-items: center;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -webkit-box-flex: 0;
}

/* footer section */
#main-footer {

  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 12px;
  line-height: 12px;
}

/* phone responsive */

@media (max-width: 500px) {
  .logo {
    width: 80px;
    height: 80px;
    /* display: 100vh; */
    margin-left: -3rem;
  }

  svg {
    font-size: 2.5rem;
  }

  .xxl {
    font-size: 2.5rem;
  }
  .xl {
    font-size: 2rem;
  }
  .bold {
    font-weight: normal;
  }

  .btn {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }

  .aboutme-btn {
    display: inline-block;
    margin-bottom: 2rem;
  }

  #main-nav ul {
    margin-top: -1.5rem;
    justify-self: end;
    display: flex;
    font-size: 1rem;
  }

  #main-nav ul li a {
    padding: 0.5rem;
    font-weight: bold;
  }

 /* #showcase .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 144px;
    }*/

  .showcase-text {
    width: 30rem;
    font-size: 1rem;
    position: relative;
    top: 2rem;
  }
  .show-text{
    width: 30rem;
    font-size: 1rem;
    position:inherit;
    padding-top: 2rem;
    padding-left:136px   
  }

  .aboutimg-2 {
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .about-text {
    text-align: center;
    margin-top: 2rem;
    width: 350px;
    font-size: 1rem;
  }

  #about .container {
    display: flex;
    flex-direction: column;
  }

  .cards {
    margin: auto;
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    width: 20rem;
  }

  .gallary-cards {
    text-align: center;
    margin: auto;
  }

  .ssxl {
    font-size: 1.2rem;
  }

  .g-card-one {
    width: 400px;
  }
  .g-card-two {
    width: 33opx;
  }
  .g-card-three {
    width: 360px;
  }
  .g-card-four {
    width: 400px;
  }
  .g-card-five {
    width: 400px;
  }

  #contact .contact-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1rem;
    grid-gap: 1.5rem;
    padding-bottom: 2rem;
  }

  #main-footer {
    font-size: 0.7rem;
    text-align: center;
    padding-bottom: 2rem;
  }
}
